:root {
    --acccol: #1098f7;
    
    /*Gray colours*/
    --lgcol: #343434;
    --mgcol: #171717;
    --dgcol: #111;
    
    --contspace: 60px;
    --defm: 6em;
    --pad: 2.5em;
}

html {
    background-color: var(--mgcol);
    color: white;
    margin: 0em;
    font-family: roboto, monospace;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {margin: 0;}
section {margin: 6em 0em;}



.main-content{
/*    width: calc(100% - var(--contspace));*/
    margin: 1em var(--defm);
    margin-left: calc(var(--contspace) + var(--defm));
/*    Footer sits at bottom of page*/
    margin-bottom: 6.5rem;
    min-height: 100vh;
}



/*Menu nav*/
.icon-bar {
  width: var(--contspace); /* Set a specific width */
  background-color: var(--lgcol); /* Dark-grey background */
  height: 100%;
  position: fixed;
  top: 0;
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 10px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 2em; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: var(--dgcol); /* Add a hover color */
}

.active {background-color: var(--acccol);}




/*TITLE CARD*/
.title {
    font-family: Verdana;
    font-weight: bold;
    margin: 0em;
/*    text-decoration: underline;*/
/*    text-shadow: 0 0 1px var(--acccol), 0 0 2px var(--acccol),0 0 3px var(--acccol);*/
/*
    color: #1098F7;
*/
}

.title::before, .title::after{
    content: '[';
    color: white;
    font-weight: bold;
    text-shadow: 0 0 1px white, 0 0 2px white,0 0 4px white;
}
.title::after {content:']';}

.faround {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    flex-direction: row;
    
    font-size: clamp(1em,1em + 4vw,5em);
    color: var(--acccol);
    margin: 0.5em 0em;
}

.cont a {color: white;}




/*Headers*/
section h1, h2, footer h1, #anchor-proj h1{
    font-family: verdana;
    font-size: 1.8em;
    margin-top: 0em;
}
h2 {font-size: 1.2em;}




/*=========ABOUT=========*/
.textbox{
    padding: var(--pad);
    border-left: 0.2em solid var(--acccol);
    background-color: var(--dgcol);
}

summary {
    background-color: var(--acccol);
    color: black;
    cursor: pointer;
    padding: 0.2em 1em;
    margin-top: 1em;
    font-weight: bold;
}

details div {
    padding: 0em 1em;
    border: 0.1em solid var(--acccol);
}





/*=========PROJECTS=========*/
/*Buttons within projects*/
.pill-buttons {
    display: flex;
    flex-direction: row;
}

.pill-buttons a {
    display: block;
    padding: 0.25em 0.5em;
    color: black;
    background-color: var(--acccol);
    border-radius: 0.15em;
    margin-right: 1em;
    text-decoration: none;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
/*    width: 100%;*/
    justify-content: space-between; 
    flex: 1 1 49%;
/*    gap: 2%;*/
/*    flex-basis: 45%;*/
    
    
/*  Problem with calc and row-gap 
    1. percentage works for row-gap, but it's dependent on height of container
    2. height of container doesn't have set size, so it's hard to add 20% to a 100% sized box / kind of impossible*/
    
/*    height: calc(100% + calc(100% - calc(40% * 2)));*/
/*    height: calc(auto + 20%);*/
/*    row-gap: calc( calc(100% - calc(40% * 2)) / 2 );*/
/*    row-gap: 30%;*/
}

.projects > div {
/*    margin: 0;*/
    margin-bottom: 1.4%;
/*    margin: 1%;*/
/*    padding: 2.5em; hmmm*/
    border: 0.1em solid black;
/*    border-top: 0.12em solid black;*/
    flex-basis: 49%;

    
/*    min-width: 45%;*/
    border-radius: 0.2em;
    background-color: var(--dgcol);
}

/*padding offsets flex calculations*/
.projects > div > div {
    padding: var(--pad);
}

.proj h2 {
    color: var(--acccol);
    font-size: 1.8em;
    margin-top: 0em;
}



/*Image CSS*/
.imagec {
    width:80%;
    margin:3em auto;
    display: block;
    border-radius: 0.05em;
    padding: 1em;
/*    outline: 0.3em solid black;*/
/*    outline-offset: 0.5em;*/
}


/*=============FOOTER(/contact)====================*/
footer {
    margin-left: var(--contspace);
/*    padding: var(--pad) calc(var(--pad) + var(--defm));*/
    padding: var(--pad);
    display: flex;
    background-color: var(--dgcol);
    border-top: 0.1em solid black;
    justify-content: space-between;
    align-items: center;
    height:6.5rem;
}

.contact a {
    display: block;
    text-decoration: none;
    color: var(--acccol);
    padding: 0 0.4em;
    margin: 0.4em 0em;
/*    border: 0.1em solid white;*/
}

.contact i {padding-right: 0.1em;}

code {text-align: right;}
code h2 {
    color: var(--acccol);
    margin-bottom: 0.2em;
}


/*Utility classes*/
.ms{
    display: none;
}


/*To 444px*/
/*===================MEDIA QUERIES=========================*/
@media (max-width:85em) {
    :root {
        --defm: 2em;
        --acccol: #07c934;
    }
}


@media (max-width:55em) {
    .projects {
        display: block;
    }
    
    :root {
        --defm: 1em;
        --contspace: 0px;
        --acccol: #ffa617;
        --pad: 1em;
    }
    
    .icon-bar {display: none;}
    section {margin: 2em 0em;}
    
    footer {
        height: 8rem; 
        padding-top: 1.5rem;
    }
    
}


@media (max-width:35em) {
    .title::before, .title::after{
    display: none;
    }
    
    .contact h1 i {
        display: none;
    }
    
    .ms {display: inline-block; }
    .ml {display: none;}
    
    footer h1 {font-size: 1.2em;}
    code h2 {font-size: 1em;}
    
}



